In [49]:
import pandas as pd
import re
import string
import sklearn

In [50]:
df = pd.read_csv("synopsis2.csv")

In [51]:
print(df.head())

                                             Comment  Y
0  In the opening, Clint Barton is teaching his d...  1
1  Five years later, Scott Lang escapes from the ...  1
2  With Stark now on board with the plan, the rem...  1
3  After testing the quantum time machine on Bart...  1
4  Rocket and Thor travel to Asgard to retrieve t...  1

In [52]:
len(df.index)

7

In [53]:
index=[]
for i in range(len(df.index)):
    index.append("Comment "+str(i))
#df.insert(loc=0,column='index',value=index)
df['index']=index
df.set_index('index', inplace=True)
df

                                                     Comment  Y
index
Comment 0  In the opening, Clint Barton is teaching his d...  1
Comment 1  Five years later, Scott Lang escapes from the ...  1
Comment 2  With Stark now on board with the plan, the rem...  1
Comment 3  After testing the quantum time machine on Bart...  1
Comment 4  Rocket and Thor travel to Asgard to retrieve t...  1
Comment 5  After everyone has returned to the present on ...  1
Comment 6  Following the battle, The Avengers hold a fune...  1

In [54]:
print(index)

['Comment 0', 'Comment 1', 'Comment 2', 'Comment 3', 'Comment 4', 'Comment 5', 'Comment 6']

In [55]:
def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text
round1 = lambda x: clean_text_round1(x)

In [56]:
data_clean = pd.DataFrame(df.Comment.apply(round1))
data_clean

                                                     Comment
index
Comment 0  in the opening clint barton is teaching his da...
Comment 1  five years later scott lang escapes from the q...
Comment 2  with stark now on board with the plan the rema...
Comment 3  after testing the quantum time machine on bart...
Comment 4  rocket and thor travel to asgard to retrieve t...
Comment 5  after everyone has returned to the present on ...
Comment 6  following the battle the avengers hold a funer...

In [57]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(data_clean.Comment)
data_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_dtm.index = data_clean.index
data_dtm

,able,accidentally,acquiring,actions,aether,agents,agrees,allies,allow,america,...,wife,wilson,withstand,work,works,world,worthy,wrestles,years,york
index,,,,,,,,,,,,,,,,,,,,,
Comment 0,0,0,1,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Comment 1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,2,0
Comment 2,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
Comment 3,0,1,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
Comment 4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Comment 5,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,1,0,0
Comment 6,0,0,0,0,0,0,0,0,0,1,...,0,2,0,0,0,0,0,0,0,0

In [58]:
from gensim import matutils, models
import scipy.sparse

In [59]:

id_word_dict={}
for i in range(489):
    id_word_dict[i]=data_dtm.columns[i]
print(id_word_dict)
tdm = data_dtm.transpose()

{0: 'able', 1: 'accidentally', 2: 'acquiring', 3: 'actions', 4: 'aether', 5: 'agents', 6: 'agrees', 7: 'allies', 8: 'allow', 9: 'america', 10: 'ancient', 11: 'appears', 12: 'arc', 13: 'archery', 14: 'army', 15: 'arrest', 16: 'artificial', 17: 'asgard', 18: 'assassin', 19: 'assault', 20: 'attacked', 21: 'attempt', 22: 'attempts', 23: 'avengers', 24: 'avoid', 25: 'banner', 26: 'barnes', 27: 'barton', 28: 'bartons', 29: 'battle', 30: 'beard', 31: 'begrudgingly', 32: 'best', 33: 'bested', 34: 'blasts', 35: 'board', 36: 'bound', 37: 'brief', 38: 'briefcase', 39: 'bring', 40: 'brought', 41: 'bruce', 42: 'brutally', 43: 'bucky', 44: 'burden', 45: 'captain', 46: 'cardiac', 47: 'carol', 48: 'cartels', 49: 'carter', 50: 'cassie', 51: 'causing', 52: 'chance', 53: 'child', 54: 'circuit', 55: 'clint', 56: 'clints', 57: 'collect', 58: 'concedes', 59: 'concern', 60: 'confirming', 61: 'confirms', 62: 'confiscate', 63: 'conflicted', 64: 'confront', 65: 'consciousness', 66: 'consciousnesses', 67: 'console', 68: 'constructed', 69: 'consumed', 70: 'control', 71: 'conversation', 72: 'convincing', 73: 'counseling', 74: 'counsels', 75: 'craft', 76: 'create', 77: 'custody', 78: 'cuts', 79: 'dance', 80: 'danvers', 81: 'daughter', 82: 'decides', 83: 'defeat', 84: 'defeated', 85: 'defeating', 86: 'destroy', 87: 'destroying', 88: 'devastating', 89: 'devise', 90: 'did', 91: 'die', 92: 'dies', 93: 'difference', 94: 'disappeared', 95: 'discover', 96: 'discovers', 97: 'disguised', 98: 'disintegrates', 99: 'distraught', 100: 'does', 101: 'drops', 102: 'drunk', 103: 'dust', 104: 'dyne', 105: 'earth', 106: 'eating', 107: 'ebony', 108: 'effects', 109: 'efforts', 110: 'elated', 111: 'embark', 112: 'embraced', 113: 'encounter', 114: 'energy', 115: 'enraged', 116: 'entire', 117: 'escape', 118: 'escapes', 119: 'events', 120: 'eventually', 121: 'explain', 122: 'explains', 123: 'exposure', 124: 'fact', 125: 'factors', 126: 'failing', 127: 'fall', 128: 'family', 129: 'farm', 130: 'father', 131: 'fight', 132: 'fighting', 133: 'figure', 134: 'finally', 135: 'finding', 136: 'finds', 137: 'fingers', 138: 'flashback', 139: 'floated', 140: 'following', 141: 'food', 142: 'formulates', 143: 'fortnite', 144: 'foster', 145: 'free', 146: 'friend', 147: 'friends', 148: 'frigga', 149: 'funeral', 150: 'future', 151: 'galaxy', 152: 'gamma', 153: 'gamora', 154: 'gangs', 155: 'gauntlet', 156: 'getting', 157: 'given', 158: 'gives', 159: 'glaive', 160: 'goes', 161: 'got', 162: 'grief', 163: 'guardians', 164: 'guilt', 165: 'hair', 166: 'half', 167: 'hammer', 168: 'hand', 169: 'happened', 170: 'happy', 171: 'head', 172: 'headquarters', 173: 'hearing', 174: 'heart', 175: 'help', 176: 'hes', 177: 'hit', 178: 'hold', 179: 'home', 180: 'hope', 181: 'hours', 182: 'house', 183: 'housing', 184: 'howard', 185: 'hulk', 186: 'hulks', 187: 'hydra', 188: 'ill', 189: 'immediately', 190: 'immense', 191: 'implying', 192: 'impostor', 193: 'improve', 194: 'infinity', 195: 'informed', 196: 'informs', 197: 'initially', 198: 'installation', 199: 'instead', 200: 'intended', 201: 'iron', 202: 'james', 203: 'jane', 204: 'japan', 205: 'joins', 206: 'journey', 207: 'junk', 208: 'kaecilius', 209: 'keeper', 210: 'keeping', 211: 'kidnap', 212: 'kill', 213: 'killed', 214: 'korg', 215: 'lake', 216: 'lands', 217: 'lang', 218: 'langs', 219: 'late', 220: 'later', 221: 'latest', 222: 'launching', 223: 'laws', 224: 'leadership', 225: 'leading', 226: 'learn', 227: 'left', 228: 'lengthy', 229: 'life', 230: 'limited', 231: 'line', 232: 'lines', 233: 'live', 234: 'living', 235: 'loki', 236: 'looking', 237: 'loss', 238: 'love', 239: 'loyal', 240: 'lunch', 241: 'machine', 242: 'make', 243: 'makes', 244: 'malekith', 245: 'malfunctions', 246: 'man', 247: 'maneuvers', 248: 'mantle', 249: 'mark', 250: 'marvel', 251: 'massacring', 252: 'maw', 253: 'maximoff', 254: 'maximoffs', 255: 'meaningful', 256: 'meets', 257: 'melded', 258: 'memories', 259: 'methods', 260: 'miek', 261: 'mind', 262: 'mistakes', 263: 'mjolnor', 264: 'models', 265: 'morag', 266: 'mother', 267: 'multiple', 268: 'nanotech', 269: 'natasha', 270: 'nature', 271: 'nearly', 272: 'nebula', 273: 'nebulas', 274: 'ned', 275: 'nefarious', 276: 'new', 277: 'numerous', 278: 'occur', 279: 'okoye', 280: 'old', 281: 'opening', 282: 'operates', 283: 'operating', 284: 'order', 285: 'orders', 286: 'original', 287: 'overgrown', 288: 'overweight', 289: 'overwhelmed', 290: 'pain', 291: 'parker', 292: 'particles', 293: 'passed', 294: 'passes', 295: 'past', 296: 'paststeve', 297: 'peace', 298: 'peggy', 299: 'pepper', 300: 'peter', 301: 'picnic', 302: 'plan', 303: 'playing', 304: 'population', 305: 'portal', 306: 'potts', 307: 'power', 308: 'prepares', 309: 'presence', 310: 'present', 311: 'prevent', 312: 'preventing', 313: 'process', 314: 'promises', 315: 'proper', 316: 'proposal', 317: 'protection', 318: 'proud', 319: 'pulling', 320: 'purpose', 321: 'purposes', 322: 'pym', 323: 'quantum', 324: 'queen', 325: 'quill', 326: 'radiation', 327: 'raising', 328: 'reactor', 329: 'reality', 330: 'realizes', 331: 'realm', 332: 'realms', 333: 'reappears', 334: 'reasoning', 335: 'reassemble', 336: 'red', 337: 'reduces', 338: 'reflecting', 339: 'rejects', 340: 'rejoin', 341: 'remaining', 342: 'remains', 343: 'reminded', 344: 'reports', 345: 'rest', 346: 'result', 347: 'retrieve', 348: 'retrieved', 349: 'retrieves', 350: 'return', 351: 'returned', 352: 'returns', 353: 'reunited', 354: 'reverse', 355: 'revived', 356: 'rhodes', 357: 'risking', 358: 'rocket', 359: 'rogers', 360: 'romanoff', 361: 'ronin', 362: 'room', 363: 'royalty', 364: 'rubble', 365: 'running', 366: 'sacrifice', 367: 'sacrificing', 368: 'sam', 369: 'sanctorum', 370: 'sanctum', 371: 'saying', 372: 'scans', 373: 'school', 374: 'scott', 375: 'secluded', 376: 'second', 377: 'self', 378: 'sends', 379: 'sequence', 380: 'sessions', 381: 'set', 382: 'settled', 383: 'sharing', 384: 'shield', 385: 'ship', 386: 'shows', 387: 'sights', 388: 'similar', 389: 'skull', 390: 'small', 391: 'snap', 392: 'snapping', 393: 'solace', 394: 'soon', 395: 'soul', 396: 'space', 397: 'specific', 398: 'spends', 399: 'splitting', 400: 'spy', 401: 'stark', 402: 'starks', 403: 'stating', 404: 'steal', 405: 'stealing', 406: 'steals', 407: 'stephen', 408: 'steve', 409: 'stone', 410: 'stones', 411: 'stop', 412: 'stranded', 413: 'strange', 414: 'stranges', 415: 'struggling', 416: 'stumbles', 417: 'succeeds', 418: 'suddenly', 419: 'suit', 420: 'supply', 421: 'survivors', 422: 'systems', 423: 'taking', 424: 'tasked', 425: 'tchalla', 426: 'teaching', 427: 'team', 428: 'teenager', 429: 'tells', 430: 'tesseract', 431: 'test', 432: 'testing', 433: 'thanos', 434: 'thanoss', 435: 'thats', 436: 'theoretical', 437: 'theory', 438: 'thor', 439: 'thors', 440: 'thwarted', 441: 'time', 442: 'tirelessly', 443: 'titan', 444: 'tony', 445: 'town', 446: 'track', 447: 'travel', 448: 'tries', 449: 'triumphantly', 450: 'true', 451: 'truly', 452: 'try', 453: 'tunnel', 454: 'turn', 455: 'ultimately', 456: 'undercover', 457: 'universe', 458: 'use', 459: 'used', 460: 'uses', 461: 'using', 462: 'valkyrie', 463: 'van', 464: 'vanishes', 465: 'vaporized', 466: 'version', 467: 'vials', 468: 'victory', 469: 'vision', 470: 'volunteers', 471: 'vormir', 472: 'wakanda', 473: 'wanda', 474: 'warn', 475: 'watch', 476: 'way', 477: 'wield', 478: 'wielding', 479: 'wife', 480: 'wilson', 481: 'withstand', 482: 'work', 483: 'works', 484: 'world', 485: 'worthy', 486: 'wrestles', 487: 'years', 488: 'york'}

In [60]:
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [67]:
lda = models.LdaModel(corpus=corpus, id2word=id_word_dict, num_topics=5, passes=1000)
lda.print_topics()

[(0,
  '0.020*"time" + 0.020*"stark" + 0.020*"stone" + 0.018*"banner" + 0.015*"thanos" + 0.013*"space" + 0.013*"rogers" + 0.013*"stones" + 0.011*"plan" + 0.011*"lang"'),
 (1,
  '0.002*"romanoff" + 0.002*"rest" + 0.002*"earth" + 0.002*"nebula" + 0.002*"family" + 0.002*"rocket" + 0.002*"asgard" + 0.002*"universe" + 0.002*"did" + 0.002*"following"'),
 (2,
  '0.038*"stone" + 0.024*"nebula" + 0.015*"thor" + 0.015*"travel" + 0.015*"soul" + 0.010*"romanoff" + 0.010*"asgard" + 0.010*"earth" + 0.010*"rocket" + 0.010*"rhodes"'),
 (3,
  '0.022*"quantum" + 0.017*"realm" + 0.011*"romanoff" + 0.011*"snap" + 0.011*"time" + 0.011*"lang" + 0.011*"passed" + 0.011*"years" + 0.011*"rogers" + 0.011*"stark"'),
 (4,
  '0.035*"thanos" + 0.022*"stones" + 0.017*"stark" + 0.014*"avengers" + 0.014*"rogers" + 0.014*"gauntlet" + 0.011*"infinity" + 0.011*"past" + 0.009*"earth" + 0.009*"reunited"')]